@model Form114.Models.ReservationViewModel

@{
    ViewBag.Title = "Reservation";
}

<h2>Infos de la Reservation</h2>

<p>Date de Début : @Model.DateDebut</p>
<p>Date de Fin : @Model.DateFin</p>
<p>Prix : @Model.Prix</p>