@model int[]

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Nombre d'inscrits et de chambres à louer</strong>
    </div>
    <div class="panel-body">
        <ul>
            <li class="comptage"> @Model[0] Chambres à louer!</li>
            <li class="comptage"> @Model[1] Utilisateurs inscrits!!</li>
        </ul>
    </div>
</div>