@model int[]

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Nombre d'inscrits et de chambres à louer</strong>
    </div>
    @{
        var room = Model[0] * 105357;
        var user = Model[1] * 5412587;
        <text><div class="panel-body">
                <ul>
                    <li>
                        @room Chambres à louer!
                    </li>
                    <li>
                        @user Utilisateurs inscrits!
                    </li>
                </ul>
            </div> </text>
    }
</div>