@model int[]

<div class="panel panel-info">
    <strong>
        @{
            var room = Model[0];
            var user = Model[1];
            <text> Nous avons @room chambres à louer et @user utilisateurs inscrits!
            </text>
        }
    </strong>
</div>
