@model int

<div class="panel panel-danger">
    <div class="panel-heading">
        <strong>Nombre d'inscrits et de chambres à louer</strong>
    </div>
    <div class="panel-body">
        <ul>
            @Model
        </ul>
    </div>
</div>