@model int[]

<div style="height : 20px;
            width: 100%;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    " @*class="panel panel-info"*@>
    <strong style="margin-bottom:inherit">
        @{
            var room = Model[0];
            var user = Model[1];
            <text> Nous avons @room chambres à louer et @user utilisateurs inscrits!
            </text>
        }
    </strong>
</div>
