* {
    margin: 0;
}

html, body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

div#footer {
    background: none;
    overflow: hidden;
    position: absolute;
    width: 70%;
    height: 50px;
    bottom: 0;
    padding: 0;
}

html > body #footer {
    position: fixed;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.comptage {
    text-align: justify;
}

.carousel-height {
    height: 200px;
}

.index-wall {
    width: inherit;
    height: 300px;
    margin: 0px auto;
}

.image-carousel .image {
    height: 10%;
    width: 10%;
    align-self: center;
    margin: 0px auto;
}

div.img0 {
    height: 500px;
    max-height: 100%;
    max-width: 100%;
}

div.img {
    height: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageIndex {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.imgind {
    height: 185px;
    max-height: 100%;
    max-width: 100%;
}

.imageIndex1 {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.img1 {
    height: 250px;
    text-align: center;
}

div.img img {
    display: inline;
    height: inherit;
    margin: 0px;
    border: 1px solid #ffffff;
}


div.img a:hover img {
    border: 1px solid #0000ff;
}

fieldset {
    text-align: center;
}

.cadre {
    height: 400px;
    max-height: 100%;
    max-width: 100%;
}

.MonImage {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cadre1 {
    height: 100px;
    max-height: 100%;
    max-width: 100%;
}

.im {
    background-image: url(Lisbonne.jpg);
}

.catalog {
    height: 200px;
    max-height: 100%;
    max-width: 100%;
}

.catalog1 {
    height: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details {
    height: 180px;
    width: 240px;
}

.details1 {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#head {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#cont {
        position: relative;
        width: 100%;
        padding: 100px 15px;
        text-align: center;
    }

        head .head-content .head-content-inner h1 {
            margin-top: 0;
            margin-bottom: 0;
            text-transform: uppercase;
            font-weight: 700;
        }

       head .head-content .head-content-inner hr {
            margin: 30px auto;
        }

        head .head-content .head-content-inner p {
            margin-bottom: 50px;
            font-size: 16px;
            font-weight: 300;
            color: rgba(255,255,255,.7);
        }

        @media(min-width:768px) {
    head {
        min-height: 100%;
    }

    head .head-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #in {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

  head .head-content .head-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
