@model List<DataLayer.Models.Produits>
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

@foreach (var item in @Model)
{
    <p>@item.IdProduit</p>
}

@*@for (int i = 0; i < ViewBag.listeChoisi.Length; i++)
{ 
    @ViewBag.listeChoisi[i]
}*@