@model List<DataLayer.Models.Produits>
@using Form114.Infrastructure
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

@*<div class="row">*@
@foreach (var item in @Model)
{
    <p>@item.IdProduit</p>
    <p>@item.Prix</p>
    <p>@item.Adresse</p>
}

@*@for (int i = 0; i < ViewBag.listeChoisi.Length; i++)
{ 
    @ViewBag.listeChoisi[i]
}*@
@*</div>*@
