@model List<DataLayer.Models.Regions>

<div class="panel panel-info">
    <div class="panel-heading">
        <strong>Voyagez en @Model</strong>
    </div>
    <div class="panel-body">
        <ul>
                <li class="list-group-item">
                    <span class="badge"></span>
                </li>
        </ul>
    </div>
</div>
