@model List<DataLayer.Models.Produits>

@{
    ViewBag.Title = "Welcome to Air R'n'B";
}

<div class="img">
    <img src="~/Images/Index-big.jpg" />
</div>

<fieldset>
    <legend>Produits Phares</legend>
</fieldset>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">@Html.Action("Miniature", "Produit", new { id = item.IdProduit })</div>
    }
</div>